<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1>Board</h1>
    <% Ticket.all_in_columns.each do |column, tickets| %>
    <section class="column">
    <h2><%= column %></h2>
        <ul>
        <% tickets.each do |ticket| %>
        <p><%= ticket.name %></p>
        <% end %>
        </ul>
    </section>
    <% end %>
</body>
</html>